<!DOCTYPE html>
<html lang="{{ site.language }}" class="relative">
<head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1004152360042416"
     crossorigin="anonymous"></script>
  {% include "head.njk" %}
</head>
<body id="top" class="font-sans">
  {{ content | safe }}
  {% include "section.projects.njk" %}
</body>
  {% include "footer.njk" %}
</html>
