---
layout: base.njk
isFront: true
---
<header class="header w-full flex flex-col">
  {% include "navbar.njk" %}
  {% include "section.header.njk" %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1004152360042416"
     crossorigin="anonymous"></script>
</header>
